{% extends "base.html" %}
{% block title %}New Link{% endblock %}
{% block body %}
  <form action="/edit" method=post>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}</p>
  {% elif success %}
    <p class=error><strong>Success!</strong></p>
    <p><a href="/to/{{ name }}">go/to/{{ name }}</a> now directs to {{ dest }}</p>
  {% endif %}
    <p>Name:    <input type=text name=name value="{{ name }}"/></p>
    <p>Location: <input type=text name=dest value="{{ dest }}"</p>
  {% if mode_edit %}
    <input type=hidden name=edit value=True />
    <p><input type=submit value="Update" /></p>
  {% else %}
    <p><input type=submit value="Create" /></p>
  {% endif %}
  </form>
  <form action="/delete" method=post>
  <input type=hidden name=name value="{{ name }}"/>
  <input type=submit value="Delete" />
  </form>
{% endblock %}
